<div class="container">
    <!-- <h3 style="text-align: center;">Morocco</h3> -->
    <div>
       <h5>Total</h5>
       <h5>New</h5>
    </div>
    <div>
        <h5>Total</h5>
        <h5>New</h5>
    </div>
    <div>
        <h5>Total</h5>
        <h5>New</h5>
    </div>

    <button onclick="close()" class="btn btn-primary" style="text-align: center;">Close</button>
</div>